<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>TreeBuilderServiceImpl</servlet-name>
    <servlet-class>com.follett.mywebapp.server.TreeBuilderServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>TreeBuilderServiceImpl</servlet-name>
    <url-pattern>/mywebapp/treeBuilder</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CodeBuilderServiceImpl</servlet-name>
    <servlet-class>com.follett.mywebapp.server.CodeBuilderServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CodeBuilderServiceImpl</servlet-name>
    <url-pattern>/mywebapp/codeBuilder</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SetupBuilderServiceImpl</servlet-name>
    <servlet-class>com.follett.mywebapp.server.SetupBuilderServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SetupBuilderServiceImpl</servlet-name>
    <url-pattern>/mywebapp/setupBuilder</url-pattern>
  </servlet-mapping>
    
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>mywebapp.html</welcome-file>
  </welcome-file-list>

</web-app>
