/** Add css rules here for your application. */

/** Most GWT widgets already have a style name defined */
.dialogs {
    background-color       :    white;
    border                 :    5px solid #111;
    color: black;
}
