/** Add css rules here for your application. */

/** Most GWT widgets already have a style name defined */
.dialogs {
    width                  :    400px;
    background-color       :    #fffff;
    border                 :    10px solid #009;
    font-style             :    italic;
}


/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}